Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

Create bookmarks.py
  cogs/utility/bookmarks.py
Due: none

added eletrons changes and fixed a warning
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

chore(wip): still working on debugging
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/utils/config.py
Due: Bot Commands & Features, Utilities & Helpers

fix(bookmarks): improve emoji validation and error handling for user and channel fetching
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

i think i fixed whatever the hell git just did
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

feat:(bookmarks) cleaned up removing bookmarks
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix:(bookmarks) removed redundent error check
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

chore(wip): still working on debugging
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

feat(app.py): enable Sentry logging experiments for enhanced error tracking
  poetry.lock
  tux/app.py
Due: Core Bot Infrastructure

feat(bookmarks): enhance bookmark functionality with improved error handling and support for attachments
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

refactor: bookmark service (#918)
  tux/cogs/services/bookmarks.py
  tux/cogs/utility/poll.py
  tux/utils/constants.py
Due: Bot Commands & Features, Utilities & Helpers

fix(sentry): change log lever for bot disconnection to info
  tux/bot.py
Due: Core Bot Infrastructure

removed tasks.loop & added call_later for better task scheduling
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

Update and rename remindme.py to added Member annotation
  tux/cogs/utility/added Member annotation
Due: Bot Commands & Features

accidentally changed the file name
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

Update message and tried to remove the stupid pyright checker error
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

Update remindme.py
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

fix(base.py): start controller migration
  tux/database/controllers/base.py
Due: Database Layer

fix(sentry): clarified bot disconnection message
  tux/bot.py
Due: Core Bot Infrastructure

fix(bot.py): minor typo corrected
  tux/bot.py
Due: Core Bot Infrastructure

feat(db): added alembic
  poetry.lock
  pyproject.toml
Due: none

feat(versioning): add initial versioning documentation with auto-generated examples
  VERSIONING.md
Due: none

docs(VERSIONING.md): enhance versioning guidelines with additional examples and clarifications
  VERSIONING.md
Due: none

docs(versioning): update versioning documentation for clarity and detail
  VERSIONING.md
Due: none

feat(docs): added section on postgres to self-host docs
  docs/self-hosting.md
Due: none

Update docs/self-hosting.md
  docs/self-hosting.md
Due: none

Update self-hosting.md
  docs/self-hosting.md
Due: none

docs: add self-hosting guide for Tux with Docker and Postgres
  docs/self-hosting.md
Due: none

fix(docs): formatting improvements on self-hosting documentation
  docs/self-hosting.md
Due: none

fix(docs): corrected linting errors on self-host documentation
  docs/self-hosting.md
Due: none

added on_ready
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features
