Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

chore: update markdownlintignore and pre-commit config
  .markdownlintignore
  .pre-commit-config.yaml
Due: none

fixed unbound error
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

remove unnecessary function
  tux/database/controllers/reminder.py
Due: Database Layer

Update message and tried to remove the stupid pyright checker error
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

Update and rename remindme.py to added Member annotation
  tux/cogs/utility/added Member annotation
Due: Bot Commands & Features

removed tasks.loop & added call_later for better task scheduling
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

added on_ready
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

accidentally changed the file name
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

Update remindme.py
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

feat: implement comprehensive task management and monitoring system
  poetry.lock
  pyproject.toml
  tux/app.py
  tux/bot.py
  tux/cli/test.py
  tux/cog_loader.py
  tux/cogs/moderation/tempban.py
  tux/cogs/services/gif_limiter.py
  tux/cogs/services/influxdblogger.py
  tux/cogs/services/levels.py
  tux/cogs/services/reminders.py
  tux/cogs/services/status_roles.py
  tux/cogs/tools/wolfram.py
  tux/cogs/utility/afk.py
  tux/cogs/utility/remindme.py
  tux/database/controllers/__init__.py
  tux/database/controllers/base.py
  tux/database/controllers/levels.py
  tux/handlers/error.py
  tux/handlers/sentry.py
  tux/utils/banner.py
  tux/utils/context_utils.py
  tux/utils/emoji_manager.py
  tux/utils/hot_reload.py
  tux/utils/protocols.py
  tux/utils/sentry.py
  tux/utils/sentry_manager.py
  tux/utils/task_manager.py
  tux/utils/tracing.py
Due: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, CLI Interface

fix(logging): remove redundant logging
  tux/cogs/services/starboard.py
  tux/cogs/utility/poll.py
  tux/utils/converters.py
Due: Bot Commands & Features, Utilities & Helpers

style(remindme.py): fix typo
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

fix(controllers): continue controller migration fix(.env.example): fix comment being in wrong location fix: find/replace prisma.model calls
  .env.example
  tests/unit/tux/utils/test_exceptions.py
  tux/cogs/moderation/cases.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/unjail.py
  tux/cogs/snippets/__init__.py
  tux/cogs/snippets/list_snippets.py
  tux/cogs/utility/afk.py
  tux/cogs/utility/remindme.py
  tux/database/controllers/afk.py
  tux/database/controllers/base.py
  tux/database/controllers/case.py
  tux/database/controllers/guild.py
  tux/database/controllers/guild_config.py
  tux/database/controllers/levels.py
  tux/database/controllers/note.py
  tux/database/controllers/reminder.py
  tux/database/controllers/snippet.py
  tux/database/controllers/starboard.py
  tux/utils/exceptions.py
Due: Database Layer, Bot Commands & Features, Utilities & Helpers

chore(pyproject.toml): update pillow
  poetry.lock
  pyproject.toml
Due: none

docs: add architecture summary for Tux project
  ARCHITECTURE_SUMMARY.md
Due: none

refactor(moderation): replace prisma.enums.CaseType with tux.database.schemas.CaseType
  tux/cogs/moderation/__init__.py
  tux/cogs/moderation/ban.py
  tux/cogs/moderation/cases.py
  tux/cogs/moderation/jail.py
  tux/cogs/moderation/kick.py
  tux/cogs/moderation/pollban.py
  tux/cogs/moderation/pollunban.py
  tux/cogs/moderation/snippetban.py
  tux/cogs/moderation/snippetunban.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/timeout.py
  tux/cogs/moderation/unban.py
  tux/cogs/moderation/unjail.py
  tux/cogs/moderation/untimeout.py
  tux/cogs/moderation/warn.py
  tux/cogs/utility/poll.py
  tux/utils/converters.py
  tux/utils/flags.py
Due: Bot Commands & Features, Utilities & Helpers

feat(encode_decode): add encoder and decoder for multiple coding systems
  tux/cogs/utility/encode_decode.py
Due: Bot Commands & Features

feat(config): add TEMPVC_BASE_NAME config variable
  config/settings.yml.example
  tux/cogs/services/temp_vc.py
  tux/utils/config.py
Due: Bot Commands & Features, Utilities & Helpers

refactor(tempvc): use list comprehension and asyncio vs loops
  tux/cogs/services/temp_vc.py
Due: Bot Commands & Features

docs: remove command group bot
  docs/content/dev/cli/index.md
Due: none

refactor(treewide): reorder statements to improve speed
  tux/cog_loader.py
  tux/cogs/fun/xkcd.py
  tux/cogs/info/avatar.py
Due: Core Bot Infrastructure, Bot Commands & Features

feat: add branch splitting workflow tools
  .kiro/specs/branch-splitting-workflow/design.md
  .kiro/specs/branch-splitting-workflow/requirements.md
  .kiro/specs/branch-splitting-workflow/tasks.md
  branch_groups.json
  scripts/analyze_branch_split.py
  scripts/create_split_branches.py
Due: none

chore: update dependencies and CLI tools
  poetry.lock
  pyproject.toml
  tux/cli/test.py
Due: CLI Interface

feat: update moderation, tools, and utility cogs
  tux/cogs/moderation/tempban.py
  tux/cogs/tools/wolfram.py
  tux/cogs/utility/afk.py
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

feat: complete branch splitting workflow with all artifacts
  branch_validation_report.json
  pr_templates/01-core-foundation-split_pr_template.md
  pr_templates/02-error-handling-split_pr_template.md
  pr_templates/03-services-split_pr_template.md
  pr_templates/04-other-cogs-split_pr_template.md
  pr_templates/05-dependencies-and-cli-split_pr_template.md
  scripts/README.md
  scripts/validate_split_branches.py
Due: none

feat: enhance service cogs with improved functionality
  tux/cogs/services/gif_limiter.py
  tux/cogs/services/influxdblogger.py
  tux/cogs/services/levels.py
  tux/cogs/services/reminders.py
  tux/cogs/services/status_roles.py
Due: Bot Commands & Features

refactor: modernize error handling and sentry integration
  tux/handlers/error.py
  tux/handlers/sentry.py
  tux/utils/sentry.py
Due: Event & Error Handling, Utilities & Helpers

docs: move flags to end of command
  docs/content/dev/cli/index.md
Due: none

feat(cogs): add get_critical_tasks method to TempBan for dynamic task registration
  tux/cogs/moderation/tempban.py
Due: Bot Commands & Features

fix: add missing get_prefix function to resolve type checking errors
  tux/app.py
Due: Core Bot Infrastructure

refactor: enhance SentryManager with operation mapping and span filtering
  tux/utils/sentry_manager.py
Due: Utilities & Helpers
