Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

chore(codecov.yml): set informational to true for all components to prevent blocking PRs
  .codecov.yml
Due: none

refactor(Dockerfile): update fallback version string for clarity
  Dockerfile
  tux/cli/core.py
Due: CLI Interface

refactor(docker.yml): simplify version extraction by using parameter expansion
  .github/workflows/docker.yml
Due: none

build(Dockerfile, .dockerignore): improve version handling and simplify Docker build process
  .dockerignore
  Dockerfile
  docker-compose.dev.yml
  pyproject.toml
  tux/__init__.py
  tux/cli/core.py
Due: CLI Interface

chore(core.py): remove unused import of importlib.metadata
  tux/cli/core.py
Due: CLI Interface

ci(docker.yml): refactor output redirection for better readability
  .github/workflows/docker.yml
  Dockerfile
Due: none

feat(cli): add version command to display current Tux version
  tux/cli/core.py
Due: CLI Interface

chore(pre-commit): add actionlint hook and update commitlint-pre-commit-hook
  .pre-commit-config.yaml
Due: none

fix(init.py): improve version detection robustness and logging
  tux/__init__.py
Due: none

docs(README.md): enhance documentation with additional badges and table of contents
  README.md
Due: none

chore(rules): remove outdated .cursor rules documentation files
  .cursor/rules/cli_usage.mdc
  .cursor/rules/core.mdc
  .cursor/rules/database_patterns.mdc
  .cursor/rules/development_setup.mdc
  .cursor/rules/docker_environment.mdc
  .cursor/rules/extensions_system.mdc
  .cursor/rules/project_structure.mdc
Due: none

chore(vscode): update search.exclude settings to ignore typings directory
  .vscode/settings.json
Due: none

refactor(hot_reload.py): reduce logging verbosity and improve file filtering
  tux/utils/hot_reload.py
Due: Utilities & Helpers

fix(help.py): correct example command and improve bot instance display
  tux/help.py
Due: Core Bot Infrastructure

feat(error.py): add error handling for discord extension and client errors
  tux/handlers/error.py
Due: Event & Error Handling

refactor(functions.py): remove unused datetime and discord-related functions
  tux/utils/functions.py
Due: Utilities & Helpers

refactor(dev.py): simplify cog load, unload, and reload logic by removing exception handling
  tux/cogs/admin/dev.py
Due: Bot Commands & Features

refactor(mock.py): enhance error testing framework with dynamic registry and improved UX
  tux/cogs/admin/mock.py
Due: Bot Commands & Features

chore(vscode): add vscode-coverage-gutters extension and update settings for coverage and testing
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(cli): add comprehensive test command group to Tux CLI
  tux/cli/README.md
  tux/cli/core.py
  tux/cli/dev.py
  tux/cli/test.py
Due: CLI Interface

refactor(env.py): streamline environment-specific value retrieval
  tux/utils/env.py
Due: Utilities & Helpers

chore(pyproject.toml): update testing dependencies and coverage reporting
  pyproject.toml
Due: none

chore(poetry.lock): update dependencies and add new testing packages
  poetry.lock
Due: none

chore(.gitignore): update ignore patterns for coverage and reports
  .gitignore
Due: none

docs(DEVELOPER.md): update command references for test and coverage commands
  DEVELOPER.md
Due: none

docs(coverage.md): update command references for coverage operations
  docs/content/dev/coverage.md
Due: none

chore(pre-commit): update ruff-pre-commit hook version to v0.12.0
  .pre-commit-config.yaml
  poetry.lock
Due: none

docs(tests): enhance README with detailed testing guide
  tests/README.md
Due: none

chore(tests): optimize imports and improve code readability
  tests/unit/scripts/test_docker_toolkit.py
  tests/unit/test_main.py
  tests/unit/tux/utils/test_benchmark_examples.py
  tux/__init__.py
  tux/app.py
  tux/cli/core.py
  tux/cli/test.py
  tux/cogs/admin/dev.py
  tux/cogs/levels/levels.py
  tux/database/controllers/__init__.py
  tux/database/controllers/base.py
  tux/database/controllers/levels.py
  tux/utils/hot_reload.py
Due: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Utilities & Helpers, CLI Interface

Added removing bookmarks from the bot's DMs
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix(bookmarks): improve emoji validation and error handling for user and channel fetching
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/cogs/utility/poll.py
Due: Bot Commands & Features

added eletrons changes and fixed a warning
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/cogs/utility/poll.py
Due: Bot Commands & Features

i think i fixed whatever the hell git just did
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix an issue where some errors were ignored, and when the provided program did not perform any IO to show.
  tux/cogs/utility/run.py
Due: Bot Commands & Features

test(constants): remove redundant tests for embed colors and icons
  tests/unit/tux/utils/test_constants.py
Due: none

ci(workflows): add reusable Python environment setup and comprehensive CI/CD workflows
  .github/workflows/_setup-python.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/maintenance.yml
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

chore(workflows): update job names for clarity and consistency
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: none

ci(actions): introduce composite actions for streamlined CI workflows
  .github/actions/create-test-env/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/setup-nodejs-markdown/action.yml
  .github/actions/setup-python/action.yml
  .github/actions/upload-coverage/action.yml
  .github/workflows/_setup-python.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
