Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

Fix type annotation for SQLModel Field to satisfy Pyright strict mode
  tux/database/models.py
Due: Database Layer

Refactor imports, type hints, and formatting across multiple files
  .github/actions/setup-python/action.yml
  alembic.ini
  alembic/env.py
  alembic/versions/bfde3b0a5688_initial.py
  tux/cogs/moderation/__init__.py
  tux/cogs/moderation/ban.py
  tux/cogs/moderation/cases.py
  tux/cogs/moderation/jail.py
  tux/cogs/moderation/kick.py
  tux/cogs/moderation/pollban.py
  tux/cogs/moderation/pollunban.py
  tux/cogs/moderation/snippetban.py
  tux/cogs/moderation/snippetunban.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/timeout.py
  tux/cogs/moderation/unban.py
  tux/cogs/moderation/unjail.py
  tux/cogs/moderation/untimeout.py
  tux/cogs/moderation/warn.py
  tux/cogs/snippets/__init__.py
  tux/cogs/snippets/list_snippets.py
  tux/cogs/utility/afk.py
  tux/cogs/utility/poll.py
  tux/cogs/utility/remindme.py
  tux/database/client.py
  tux/database/controllers/base.py
  tux/database/controllers/guild_config.py
  tux/database/controllers/levels.py
  tux/database/controllers/note.py
  tux/database/controllers/reminder.py
  tux/database/controllers/snippet.py
  tux/database/controllers/starboard.py
  tux/database/models.py
  tux/utils/converters.py
Due: Database Layer, Bot Commands & Features, Utilities & Helpers

refactor: reorganize imports and improve code readability
  alembic/__init__.py
  alembic/env.py
  tux/cogs/moderation/cases.py
  tux/database/client.py
  tux/database/controllers/base.py
  tux/database/controllers/case.py
  tux/database/controllers/guild_config.py
  tux/database/controllers/snippet.py
Due: Database Layer, Bot Commands & Features

chore(pyproject.toml): add pydantic dependency for data validation
  poetry.lock
  pyproject.toml
  tux/cli/core.py
  tux/database/client.py
  tux/database/controllers/base.py
  tux/database/controllers/case.py
  tux/database/controllers/guild_config.py
  tux/database/controllers/snippet.py
  tux/database/models.py
Due: Database Layer, CLI Interface

chore: audit codebase with kiro
  .kiro/specs/priority-implementation-roadmap/READING_ORDER_GUIDE.md
Due: none

chore: audit codebase with kiro
  .kiro/specs/priority-implementation-roadmap/READING_ORDER_GUIDE.md
  .kiro/specs/priority-implementation-roadmap/implementation_examples/001_dependency_injection_examples.md
  .kiro/specs/priority-implementation-roadmap/implementation_examples/002_base_class_standardization_examples.md
  .kiro/specs/priority-implementation-roadmap/implementation_examples/003_centralized_embed_factory_examples.md
  .kiro/specs/priority-implementation-roadmap/implementation_examples/004_error_handling_standardization_examples.md
  .kiro/specs/priority-implementation-roadmap/implementation_examples/README.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

feat: added uptime and current branch to status
  tux/bot.py
  tux/cogs/utility/ping.py
Due: Core Bot Infrastructure, Bot Commands & Features

fix: enable the banning nonserver users
  tux/cogs/moderation/ban.py
Due: Bot Commands & Features

feat(command): allow irc users to use snippet command
  config/settings.yml.example
  tux/handlers/event.py
  tux/utils/config.py
Due: Event & Error Handling, Utilities & Helpers

Update tux/utils/config.py
  tux/utils/config.py
Due: Utilities & Helpers

chore: remove rename_audit_files.sh script
  rename_audit_files.sh
Due: none

feat: implement core dependency injection framework for Tux bot
  tux/core/__init__.py
  tux/core/base_cog.py
  tux/core/container.py
  tux/core/interfaces.py
  tux/core/service_registry.py
  tux/core/services.py
Due: none

feat: enhance dependency injection setup in Tux bot
  tux/bot.py
Due: Core Bot Infrastructure

feat: implement singleton pattern for database controller in Tux bot
  tux/utils/checks.py
Due: Utilities & Helpers

feat: add dependency injection validation script for Tux bot
  scripts/validate_dependency_injection.py
Due: none

feat: add unit tests for various cogs with dependency injection
  tests/unit/tux/cogs/guild/test_config.py
  tests/unit/tux/cogs/guild/test_setup.py
  tests/unit/tux/cogs/levels/test_level.py
  tests/unit/tux/cogs/levels/test_levels.py
  tests/unit/tux/cogs/moderation/test_moderation_base.py
  tests/unit/tux/cogs/services/test_influxdblogger.py
  tests/unit/tux/cogs/services/test_levels.py
  tests/unit/tux/cogs/services/test_starboard.py
  tests/unit/tux/cogs/snippets/test_snippets_base.py
  tests/unit/tux/cogs/utility/test_afk.py
  tests/unit/tux/cogs/utility/test_poll.py
  tests/unit/tux/cogs/utility/test_remindme.py
  tests/unit/tux/cogs/utility/test_self_timeout.py
  tests/unit/tux/core/__init__.py
  tests/unit/tux/core/test_base_cog.py
  tests/unit/tux/core/test_container.py
  tests/unit/tux/core/test_interfaces.py
  tests/unit/tux/core/test_service_registry.py
  tests/unit/tux/core/test_services.py
Due: none

feat: add test fixtures and example tests for dependency injection in Tux bot
  tests/fixtures/__init__.py
  tests/fixtures/dependency_injection.py
  tests/fixtures/example_cog_tests.py
Due: none

feat: add comprehensive integration tests for dependency injection system in Tux bot
  tests/integration/test_bot_dependency_injection.py
  tests/integration/test_dependency_injection.py
Due: none

docs: add comments for clarity in conftest.py
  tests/conftest.py
Due: none

refactor: improve bot uptime formatting in ping command
  tux/cogs/utility/ping.py
Due: Bot Commands & Features

Update test_main.py
  tests/unit/test_main.py
Due: none

Update settings.yml.example
  config/settings.yml.example
Due: none

refactor: move constants to assets/data/constants.toml
  assets/data/constants.toml
  tests/unit/tux/utils/test_constants.py
  tux/utils/constants.py
Due: Utilities & Helpers

fix: replace CheckFailure with PermissionLevelError in SnippetsBaseCog
  tux/cogs/snippets/__init__.py
Due: Bot Commands & Features

fix: fix tests failing due to configuration in tests being outdated
  tests/unit/test_main.py
Due: none

refactor(error): improve command suggestion logic to return better matches using aliases
  tux/handlers/error.py
Due: Event & Error Handling

build: switch to basedpyright
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  poetry.lock
  pyproject.toml
  tux/cli/dev.py
Due: CLI Interface

fix: update basedpyright command in ci to use poetry for execution
  .github/workflows/ci.yml
Due: none

style: update README formatting to center title and subtitle
  README.md
Due: none

fix: updated rolecount.py to be more refelcted of our current roles
  tux/cogs/guild/rolecount.py
Due: Bot Commands & Features

fix(rolecount): incorrect emoji for "zed" role
  tux/cogs/guild/rolecount.py
Due: Bot Commands & Features

refactor(Dockerfile): refactor unoptimized chown commands
  Dockerfile
Due: none
