Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

feat(utils): enhance BotProtocol with runtime checking and add_cog method
  tux/utils/protocols.py
Due: Utilities & Helpers

refactor(bot): update bot to use dynamic task discovery and remove hardcoded checks
  tux/bot.py
Due: Core Bot Infrastructure

refactor: streamline tracing logic in enhanced_span function
  tux/utils/tracing.py
Due: Utilities & Helpers

fix(influxdblogger.py): improve logging and task management for InfluxDB integration
  tux/cogs/services/influxdblogger.py
Due: Bot Commands & Features

refactor(task_manager.py): enhance task management with cog unloading support
  tux/utils/task_manager.py
Due: Utilities & Helpers

feat: implement core bot infrastructure and monitoring system
  tux/app.py
  tux/bot.py
  tux/cog_loader.py
  tux/database/controllers/__init__.py
  tux/database/controllers/base.py
  tux/database/controllers/levels.py
  tux/utils/banner.py
  tux/utils/context_utils.py
  tux/utils/emoji_manager.py
  tux/utils/hot_reload.py
  tux/utils/protocols.py
  tux/utils/sentry_manager.py
  tux/utils/task_manager.py
  tux/utils/tracing.py
Due: Core Bot Infrastructure, Database Layer, Utilities & Helpers

feat(cogs): add get_critical_tasks method to Afk for dynamic task registration
  tux/cogs/utility/afk.py
Due: Bot Commands & Features

feat(utils): consolidate Sentry SDK usage behind SentryManager abstraction
  tux/utils/sentry_manager.py
Due: Utilities & Helpers

refactor(utils): redesign task manager for dynamic cog-driven task registration
  tux/utils/task_manager.py
Due: Utilities & Helpers

fix(cog_loader.py): improve error handling for missing cog paths
  tux/cog_loader.py
Due: Core Bot Infrastructure

feat(cogs): add get_critical_tasks method to InfluxLogger for dynamic task registration
  tux/cogs/services/influxdblogger.py
Due: Bot Commands & Features

refactor(handlers): update sentry handler to use SentryManager abstraction
  tux/handlers/sentry.py
Due: Event & Error Handling

fix: suppress type checker warnings for discord.py tasks.Loop.coro attribute
  tux/utils/task_manager.py
Due: Utilities & Helpers

refactor(utils): refactor hot reload to use SentryManager and improve type safety
  tux/utils/hot_reload.py
Due: Utilities & Helpers

feat(cli): add check-all command for comprehensive development validation
  tux/cli/dev.py
Due: CLI Interface

fix(utils): resolve type errors in task manager with proper Protocol and type annotations
  tux/utils/task_manager.py
Due: Utilities & Helpers

feat(cogs): add get_critical_tasks method to GifLimiter for dynamic task registration
  tux/cogs/services/gif_limiter.py
Due: Bot Commands & Features

fix: simplify operation handling in BaseController
  tux/database/controllers/base.py
Due: Database Layer

refactor(cog_loader.py): load cogs sequentially within priority groups to prevent dependency issues
  tux/cog_loader.py
Due: Core Bot Infrastructure

refactor(bot.py): remove command_prefix argument from super().__init__ call
  tux/bot.py
Due: Core Bot Infrastructure

refactor(bot.py): enhance command transaction handling in Sentry integration
  tux/bot.py
Due: Core Bot Infrastructure

refactor(bot.py): add critical task registration and cog unloading cleanup
  tux/bot.py
Due: Core Bot Infrastructure

chore(deps): update aiohttp to version 3.12.14 and xattr to version 1.2.0 in poetry.lock
  poetry.lock
Due: none

feat(cli): add check-all command for comprehensive development validation
  tux/bot.py
  tux/handlers/sentry.py
  tux/utils/hot_reload.py
  tux/utils/sentry_manager.py
  tux/utils/tracing.py
Due: Core Bot Infrastructure, Event & Error Handling, Utilities & Helpers

refactor(handlers): streamline command-specific tag setting in SentryHandler
  tux/handlers/sentry.py
Due: Event & Error Handling

feat(utils): validate configuration in CogWatcher for improved reliability
  tux/utils/hot_reload.py
Due: Utilities & Helpers

feat(utils): add asynchronous flush method to SentryManager
  tux/utils/sentry_manager.py
Due: Utilities & Helpers

feat(utils): add @instrumented_task decorator for task instrumentation
  tux/utils/task_manager.py
Due: Utilities & Helpers

feat(app): enhance signal handling for graceful shutdown with event loop support
  tux/app.py
Due: Core Bot Infrastructure

feat: migrate from poetry to uv
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  DOCKER.md
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/content/dev/cli/index.md
  docs/content/dev/coverage.md
  docs/content/dev/database.md
  docs/content/dev/docker_development.md
  docs/content/dev/local_development.md
  poetry.lock
  poetry.toml
  pyproject.toml
  shell.nix
  tests/README.md
  tux/cli/README.md
  tux/cli/database.py
  uv.lock
Due: CLI Interface

feat(wiki.py): Add wikipedia support to the wiki command
  tux/cogs/utility/wiki.py
Due: Bot Commands & Features

chore(cli): change file permissions to executable for CLI scripts
  tux/cli/__init__.py
  tux/cli/core.py
  tux/cli/database.py
  tux/cli/dev.py
  tux/cli/docker.py
  tux/cli/docs.py
  tux/cli/test.py
  tux/cli/ui.py
Due: CLI Interface

fix(moderation): bypass pre-commit for WIP refactor
  debug_test.py
  docs/content/dev/mixed_arguments.md
  tests/unit/tux/utils/test_mixed_args.py
  tux/cogs/moderation/DRY_APPROACH.md
  tux/cogs/moderation/command_config.py
  tux/cogs/moderation/dynamic_moderation.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/timeout.py
  tux/utils/flexible_flags.py
  tux/utils/mixed_args.py
Due: Bot Commands & Features, Utilities & Helpers

Add reason and silent options to moderation command configs
  .vscode/settings.json
  tux/cogs/moderation/command_config.py
Due: Bot Commands & Features

Implement dynamic moderation command system with unified executor
  tux/cogs/moderation/__init__.py
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor moderation command argument validation with new helper method
  tux/cogs/moderation/__init__.py
Due: Bot Commands & Features

Remove moderation command cogs from project
  tux/cogs/moderation/ban.py
  tux/cogs/moderation/jail.py
  tux/cogs/moderation/kick.py
  tux/cogs/moderation/pollban.py
  tux/cogs/moderation/pollunban.py
  tux/cogs/moderation/snippetban.py
  tux/cogs/moderation/snippetunban.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/timeout.py
  tux/cogs/moderation/unban.py
  tux/cogs/moderation/unjail.py
  tux/cogs/moderation/untimeout.py
  tux/cogs/moderation/warn.py
Due: Bot Commands & Features

Refactor dynamic moderation command parameter type annotation
  tux/cogs/moderation/command_config.py
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Disable app command for dynamic moderation command
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor dynamic moderation cog for slash command compatibility
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features
