Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

chore(ci): remove custom detect-changes action and replace with tj-actions/changed-files
  .github/actions/detect-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

chore(workflows): update job names and remove notifications workflow
  .github/workflows/ci.yml
  .github/workflows/notifications.yml
  .github/workflows/security.yml
Due: none

ci(actions): introduce composite actions for streamlined CI workflows
  .github/actions/create-test-env/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/setup-nodejs-markdown/action.yml
  .github/actions/setup-python/action.yml
  .github/actions/upload-coverage/action.yml
  .github/workflows/_setup-python.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

chore(workflows): update job names for clarity and consistency
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: none

ci(workflows): add reusable Python environment setup and comprehensive CI/CD workflows
  .github/workflows/_setup-python.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/maintenance.yml
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

ci(security.yml): add poetry-plugin-export to ensure compatibility with safety check
  .github/workflows/security.yml
Due: none

chore(renovate.json): update Renovate configuration to use best practices
  .github/renovate.json
Due: none

chore(tests.yml): update Python testing strategy to remove version 3.12
  .github/workflows/tests.yml
Due: none

Add COSMIC logo role
  assets/roles/de-wm/cosmic.png
Due: none

chore(wip): still working on debugging
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/utils/config.py
  tux/utils/constants.py
Due: Bot Commands & Features, Utilities & Helpers

wip changes
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/utils/config.py
Due: Bot Commands & Features, Utilities & Helpers

added eletrons changes and fixed a warning
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/cogs/utility/poll.py
Due: Bot Commands & Features

Added removing bookmarks from the bot's DMs
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix(bookmarks): improve emoji validation and error handling for user and channel fetching
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

added eletrons changes and fixed a warning
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

i think i fixed whatever the hell git just did
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

chore(wip): still working on debugging
  config/settings.yml.example
  tux/cogs/services/bookmarks.py
  tux/utils/config.py
Due: Bot Commands & Features, Utilities & Helpers

chore(wip): still working on debugging
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

delete(main.prisma) i fucking hate git
  prisma/schema/main.prisma
Due: none

feat:(bookmarks) cleaned up removing bookmarks
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix:(bookmarks) removed redundent error check
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix(schemas.py): temporarily add type ignore
  tux/database/schemas.py
Due: Database Layer

refactor(database): migrate client from Prisma to SQLModel
  .env.example
  poetry.lock
  prisma/migrations/20250405050252_/migration.sql
  prisma/migrations/migration_lock.toml
  pyproject.toml
  tux/database/client.py
Due: Database Layer

chore: update Python version from 3.13.2 to 3.13.5 in documentation
  .github/CONTRIBUTING.md
  DOCKER.md
Due: none

chore(action.yml): remove npm cache configuration from setup-node action
  .github/actions/setup-nodejs-markdown/action.yml
Due: none
