Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers, database, core, ui, modules, services

chore: update CI workflows to include Renovate datasource comments
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

chore: enhance Renovate configuration for improved dependency management
  .github/renovate.json5
Due: none

chore: update Renovate configuration for Dockerfile updates
  .github/renovate.json5
Due: none

docs: enhance Renovate docs for improved dependency management
  docs/content/reference/renovate.md
Due: none

fix: update Codecov configuration for regex pattern quoting
  codecov.yml
Due: none

chore: update coverage report configuration in CI and pyproject.toml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

refactor: improve logging in Wiki API interactions
  src/tux/modules/utility/wiki.py
Due: modules

feat(logging): add safe message filter to escape curly braces in log messages
  src/tux/core/logging.py
Due: core

fix(logging): improve case creation log formatting
  src/tux/services/moderation/moderation_coordinator.py
Due: services

docs: update README for improved clarity and structure
  README.md
  assets/readme/quickstart-admins.svg
  assets/readme/quickstart-developers.svg
  assets/readme/quickstart-selfhosters.svg
  assets/readme/quickstart-users.svg
Due: none

docs: update README and SVG assets for improved layout and consistency
  README.md
  assets/readme/quickstart-admins.svg
  assets/readme/quickstart-developers.svg
  assets/readme/quickstart-selfhosters.svg
  assets/readme/quickstart-users.svg
Due: none

chore: update GitHub Actions workflow to ignore specific paths
  .github/workflows/tests.yml
Due: none

docs: refine README layout and SVG assets for consistency
  README.md
  assets/readme/quickstart-admins.svg
  assets/readme/quickstart-developers.svg
  assets/readme/quickstart-selfhosters.svg
  assets/readme/quickstart-users.svg
Due: none

docs: add custom styles to README for table formatting
  README.md
Due: none

chore: update Codecov configuration to change informational status
  codecov.yml
Due: none

docs: enhance README layout and SVG styling for improved presentation
  README.md
  assets/readme/quickstart-admins.svg
  assets/readme/quickstart-developers.svg
  assets/readme/quickstart-selfhosters.svg
  assets/readme/quickstart-users.svg
Due: none

chore: update Python version and Renovate configuration
  .github/renovate.json5
  .python-version
Due: none

chore(config): increase Renovate PR limits for improved efficiency
  .github/renovate.json5
Due: none

chore(config): update Renovate configuration for improved dependency management
  .github/renovate.json5
  docs/content/reference/renovate.md
Due: none

chore: downgrade Python version and refine Renovate configuration
  .github/renovate.json5
  .python-version
Due: none

chore(deps): update Django, Sentry SDK, and Zensical versions
  uv.lock
Due: none

chore(config): disable Renovate PR limits for better control
  .github/renovate.json5
Due: none

chore(config): enhance Renovate configuration for type package management
  .github/renovate.json5
Due: none

chore(deps): remove unused dependencies from configuration
  pyproject.toml
  src/tux/core/logging.py
  uv.lock
Due: core

refactor(readme): update quickstart section layout and remove SVG assets
  README.md
  assets/readme/quickstart-admins.svg
  assets/readme/quickstart-developers.svg
  assets/readme/quickstart-selfhosters.svg
  assets/readme/quickstart-users.svg
Due: none

chore(pyproject.toml): add comments_require_starting_space setting to match existing code style
  pyproject.toml
Due: none

chore(yamllint): update configuration to enforce minimum space from content to comments
  .yamllint.yml
Due: none

fix(logging): update safe_message_filter parameter type to Any for improved clarity
  src/tux/core/logging.py
Due: core

test(migration): add assertion to verify prepend_sys_path configuration
  tests/integration/test_migration_path_resolution.py
Due: none

refactor(shared.sh): improve size calculation and comparison functions for better argument handling
  .github/scripts/shared.sh
Due: none

build: downgrade postgres to 17 and add renovate constraint
  .github/renovate.json5
  compose.yaml
Due: none

feat(afk): enhance AFK cog with error handling and lifecycle management
  src/tux/modules/utility/afk.py
Due: modules

feat(levels): add method to fetch complete user level data in a single query
  src/tux/database/controllers/levels.py
Due: database

feat(levels): optimize XP processing by consolidating user data retrieval
  src/tux/modules/features/levels.py
Due: modules

feat(gif_limiter): enhance GIF management with task readiness and renaming
  src/tux/modules/features/gif_limiter.py
Due: modules

feat(influxdblogger): implement guild statistics logging to InfluxDB
  src/tux/modules/features/influxdblogger.py
Due: modules

refactor(tempban): rename and enhance tempban checking logic
  src/tux/modules/moderation/tempban.py
Due: modules

feat(wolfram): enhance initialization and configuration check for Wolfram cog
  src/tux/modules/tools/wolfram.py
Due: modules

refactor(database): remove pagination and performance controllers, streamline base controller
  .cursor/rules/database/controllers.mdc
  docs/content/developer/concepts/database/controllers.md
  src/tux/database/controllers/base/base_controller.py
  src/tux/database/controllers/base/bulk.py
  src/tux/database/controllers/base/pagination.py
  src/tux/database/controllers/base/performance.py
  src/tux/database/controllers/base/query.py
Due: database

refactor(database): update BaseController documentation for clarity
  src/tux/database/controllers/base/base_controller.py
Due: database

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  database: any of: src/tux/database/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  core: any of: src/tux/core/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  ui: any of: src/tux/ui/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  modules: any of: src/tux/modules/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  services: any of: src/tux/services/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
