Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

Restrict dynamic moderation command target to discord.User
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Add MemberOrUser transformer for consistent member/user resolution
  tux/cogs/moderation/dynamic_moderation.py
  tux/utils/transformers.py
Due: Bot Commands & Features, Utilities & Helpers

Fix dynamic moderation command closure with captured self reference
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Improve member fetching with fallback to fetch_member method
  tux/utils/transformers.py
Due: Utilities & Helpers

Fix AppCommandOptionType import for compatibility with older discord.py
  tux/utils/transformers.py
Due: Utilities & Helpers

Add GuildInit cog to ensure guild database rows on startup/join
  tux/handlers/guild_init.py
Due: Event & Error Handling

Add automatic database reconnection on connection loss
  tux/database/controllers/base.py
Due: Database Layer

Improve database connection error logging with specific error handling
  tux/database/controllers/base.py
Due: Database Layer

Checkpoint before follow-up message
  tux/database/controllers/guild_config.py
Due: Database Layer

Add help text to dynamic moderation command configuration
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix dynamic moderation command help text placement
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Add help text and description to dynamic moderation command config
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Link dynamic moderation command back to cog instance
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor dynamic command registration with in-place decorators
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Remove unnecessary short_doc attribute from dynamic moderation command
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Register dynamic commands with cog's command list for help discovery
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix dynamic command registration to preserve existing commands
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix command registration by removing existing commands before adding
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Simplify dynamic command registration and cog loading process
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Remove conflicting moderation commands before registering new ones
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Prevent premature command registration in dynamic moderation cog
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Add dynamic flag injection for moderation commands
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix flag annotation for help command parsing in dynamic moderation
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor dynamic moderation command generation with improved flag handling
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Expose dynamically created flags class in module globals
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor moderation commands to use flag-based dynamic executor
  tux/cogs/moderation/__init__.py
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Refactor dynamic moderation flags using new flag_factory utility
  tux/cogs/moderation/dynamic_moderation.py
  tux/utils/flag_factory.py
Due: Bot Commands & Features, Utilities & Helpers

Fix help introspection for dynamic moderation flags class
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix dynamic moderation typing import to support help introspection
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Add Dict type import to builtins for runtime compatibility
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Add metaclass for declarative moderation command creation
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Refactor moderation command meta and add ban command implementation
  tux/cogs/moderation/command_meta.py
  tux/cogs/moderation/commands/ban.py
Due: Bot Commands & Features

Add dynamic module import for moderation commands
  tux/cogs/moderation/command_meta.py
  tux/cogs/moderation/commands/__init__.py
Due: Bot Commands & Features

Remove dynamic moderation command system implementation
  tux/cogs/moderation/dynamic_moderation.py
Due: Bot Commands & Features

Fix eval_annotation resolution for command flags in moderation cog
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Add global alias for FlagsCls to support eval string resolution
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Fix type hint for moderation command callback context parameter
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Add setup function for ban command extension
  tux/cogs/moderation/commands/ban.py
Due: Bot Commands & Features

Fix command registration in moderation cog
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Refactor moderation commands to separate text and slash command implementations
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features
