Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers, database, core, ui, modules, services

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  database: any of: src/tux/database/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  core: any of: src/tux/core/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  ui: any of: src/tux/ui/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  modules: any of: src/tux/modules/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/
  services: any of: src/tux/services/, but not: tests/, conftest.py, .pytest_cache/, .ruff_cache/, htmlcov/, .venv/, typings/, __pycache__/, docs/, scripts/, assets/, logs/, *.md, *.toml, *.lock, *.nix, flake.*, shell.nix, prisma/

refactor(regex): standardize regex variable naming and add new patterns
  src/tux/shared/regex.py
Due: none

fix(exceptions): sanitize language input in TuxUnsupportedLanguageError
  src/tux/shared/exceptions.py
Due: none

refactor(info): improve info command handling and documentation
  src/tux/modules/info/info.py
Due: modules

chore(dependencies): update Pillow and MkDocs Material dependencies
  docs/content/assets/stylesheets/typography.css
  docs/content/navigation.md
  docs/content/reference/cli.md
  docs/content/reference/coverage.md
  docs/content/reference/env.md
  docs/content/reference/listings.md
  docs/content/reference/renovate.md
  docs/content/reference/sbom.md
  docs/content/reference/src/tux/index.md
  docs/content/reference/style-guide.md
  docs/content/reference/tags.md
  docs/content/reference/versioning.md
  docs/mkdocs.yml
  pyproject.toml
  scripts/docs.py
  uv.lock
Due: none

fix(ci): remove unnecessary shfmt flag in CI workflow
  .github/workflows/ci.yml
Due: none

feat(permission): implement restricted commands handling in permission system
  src/tux/core/permission_system.py
  src/tux/help/data.py
  src/tux/help/help.py
  src/tux/help/navigation.py
  src/tux/modules/admin/eval.py
  src/tux/modules/config/config.py
  src/tux/ui/views/config/callbacks.py
  src/tux/ui/views/config/command_discovery.py
  tests/fixtures/database_fixtures.py
  tests/integration/test_guild_permission_controllers.py
  tests/unit/test_help_permission_filtering.py
  tests/unit/test_restricted_commands.py
Due: core, ui, modules

chore: add git blame ignore file for formatting commits
  .git-blame-ignore-revs
Due: none

chore: add formatting commit to blame ignore list
  .git-blame-ignore-revs
Due: none

docs: add git blame ignore config to setup instructions
  README.md
Due: none

chore(dependencies): update pre-commit hooks and package versions
  .pre-commit-config.yaml
  .vscode/settings.json
  uv.lock
Due: none

chore: update CHANGELOG and add ROADMAP document
  CHANGELOG.md
  ROADMAP.md
Due: none

chore(dependencies): update fastapi and sentry-sdk versions
  uv.lock
Due: none

refactor(help): reorder button additions in HelpNavigation class
  src/tux/help/navigation.py
Due: none

feat(typings): add type stubs for pydantic_settings_export modules
  typings/pydantic_settings_export/constants.pyi
  typings/pydantic_settings_export/generators/__init__.pyi
  typings/pydantic_settings_export/generators/abstract.pyi
  typings/pydantic_settings_export/generators/dotenv.pyi
  typings/pydantic_settings_export/generators/markdown.pyi
  typings/pydantic_settings_export/generators/simple.pyi
  typings/pydantic_settings_export/models.pyi
  typings/pydantic_settings_export/settings.pyi
  typings/pydantic_settings_export/sources.pyi
  typings/pydantic_settings_export/utils.pyi
Due: none

feat(config): enhance configuration documentation and examples
  config/config.toml.example
  docs/content/reference/env.md
Due: none

feat(config): integrate ConfigCLI into main application
  scripts/__init__.py
  scripts/base.py
  scripts/cli.py
  scripts/config.py
Due: none

feat(config): enhance Pydantic models with examples and annotations
  src/tux/shared/config/generators/__init__.py
  src/tux/shared/config/generators/toml.py
  src/tux/shared/config/models.py
  src/tux/shared/config/settings.py
  tests/unit/test_config_loaders.py
Due: none

feat(config): update .env.example with detailed comments and examples
  .env.example
Due: none

feat(dependencies): update package versions and add new dependencies
  pyproject.toml
  uv.lock
Due: none

feat(config): update example configuration files with placeholder bot token
  .env.example
  config/config.toml.example
  docs/content/reference/env.md
  src/tux/shared/config/settings.py
Due: none

feat(markdownlint): enhance markdownlint configuration and update commands in documentation
  .markdownlint.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  AGENTS.md
  README.md
Due: none

fix: resolve low-hanging fruit from Sentry errors
  src/tux/modules/features/levels.py
  src/tux/modules/utility/poll.py
Due: modules

docs(sentry): enhance documentation for Sentry integration and error handling best practices
  docs/content/developer/best-practices/error-handling.md
  docs/content/developer/best-practices/sentry/choosing-instrumentation.md
  docs/content/developer/best-practices/sentry/context-data.md
  docs/content/developer/best-practices/sentry/index.md
  docs/content/developer/best-practices/sentry/metrics.md
  docs/content/developer/best-practices/sentry/sampling.md
  docs/content/developer/best-practices/sentry/transactions-spans.md
  docs/content/developer/concepts/core/app.md
  docs/content/developer/concepts/core/bot.md
Due: none

refactor(setup): improve error handling and logging in setup processes
  src/tux/core/setup/base.py
  src/tux/core/setup/orchestrator.py
Due: core

refactor(bot): standardize transaction data logging during shutdown process
  src/tux/core/bot.py
Due: core

refactor(cog_loader): enhance error handling and telemetry for cog loading
  src/tux/core/cog_loader.py
Due: core

refactor(error_handling): improve exception logging and telemetry in PermissionRankController
  src/tux/database/controllers/permissions.py
Due: database

refactor(database_service): enhance error handling and telemetry for database operations
  src/tux/database/service.py
Due: database

refactor(error_handling): enhance Sentry integration for improved exception tracking
  src/tux/modules/features/starboard.py
  src/tux/modules/features/status_roles.py
  src/tux/modules/moderation/cases.py
  src/tux/modules/tools/tldr.py
  src/tux/modules/utility/wiki.py
Due: modules

refactor(sentry_integration): enhance error handling and telemetry across services
  src/tux/services/emoji_manager.py
  src/tux/services/hot_reload/service.py
  src/tux/services/sentry/__init__.py
  src/tux/services/sentry/cog.py
  src/tux/services/sentry/config.py
  src/tux/services/sentry/context.py
  src/tux/services/sentry/handlers.py
  src/tux/services/sentry/metrics.py
  src/tux/services/sentry/tracing.py
  src/tux/services/sentry/utils.py
  src/tux/services/wrappers/github.py
  src/tux/ui/views/config/ranks.py
  tests/integration/test_database_cli_commands.py
  tests/unit/test_sentry_service.py
Due: ui, services

refactor(workflows): remove unused CI and test scripts, streamline output handling
  .github/scripts/ci.sh
  .github/scripts/docs.sh
  .github/scripts/tests.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: none

chore(workflows): update docs workflow to include timeout and regex for test checks
  .github/workflows/docs.yml
Due: none

chore(workflows): add system dependencies for image optimization in docs workflow
  .github/workflows/docs.yml
Due: none

chore(workflows): enhance documentation workflow with pull request support and preview comments
  .github/workflows/docs.yml
Due: none

chore(coverage): update coverage report paths to use 'docs/htmlcov'
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  pyproject.toml
  scripts/tests.py
Due: none

chore(workflows): update documentation workflow to improve pull request comments
  .github/workflows/docs.yml
Due: none

chore(workflows): update documentation workflow to use latest comment action version
  .github/workflows/docs.yml
Due: none

chore(workflows): enhance documentation workflow with pull request detection
  .github/workflows/docs.yml
Due: none

chore(workflows): update deployment actions in documentation workflow
  .github/workflows/docs.yml
Due: none
