Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Fix potential None error when adding flags to slash command globals
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Fix optional flags handling in moderation command methods
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Add global reference to FlagsCls for annotation resolution
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Fix FlagsCls global resolution for command metadata evaluation
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Fix slash command callback to retrieve cog instance dynamically
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Refactor slash command to use explicit options and SimpleNamespace
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Improve flag parsing for complex type hints in help command
  tux/help.py
Due: Core Bot Infrastructure

Set custom usage string for moderation text commands
  tux/cogs/moderation/command_meta.py
Due: Bot Commands & Features

Add moderation action mixin and command infrastructure
  tux/cogs/moderation/action_mixin.py
  tux/cogs/moderation/ban_static.py
  tux/cogs/moderation/common.py
Due: Bot Commands & Features

Add no-op setup functions to moderation utility modules
  tux/cogs/moderation/action_mixin.py
  tux/cogs/moderation/ban_static.py
  tux/cogs/moderation/common.py
Due: Bot Commands & Features

Remove ban command implementation
  tux/cogs/moderation/commands/ban.py
Due: Bot Commands & Features

Remove old ban command cleanup code before registering new commands
  tux/cogs/moderation/ban_static.py
Due: Bot Commands & Features

Add flag support for ban command with purge and silent options
  tux/cogs/moderation/ban_static.py
Due: Bot Commands & Features

fix: Prevents tux from deleting messages outside of DMs
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix: added a additional check for saftey
  tux/cogs/services/bookmarks.py
Due: Bot Commands & Features

fix: enable the banning nonserver memeber
  tux/cogs/moderation/ban.py
Due: Bot Commands & Features

fix: correction of a typo that i missed
  tux/cogs/moderation/ban.py
Due: Bot Commands & Features

chore: audit codebase with kiro
  audit/core/container.py
  audit/metrics_dashboard.py
  audit/monitoring_config.yml
  audit/performance_analysis.py
  audit/performance_analysis_report_20250726_113655.json
  audit/performance_analysis_standalone.py
Due: none

Switch from Prisma to SQLModel/SQLAlchemy for database layer
  .vscode/settings.json
  pyproject.toml
  tux/database/client.py
  tux/database/controllers/afk.py
  tux/database/controllers/base.py
  tux/database/controllers/case.py
  tux/database/controllers/guild.py
  tux/database/models.py
Due: Database Layer

Migrate from Prisma to SQLModel database models and imports
  tests/unit/tux/utils/test_exceptions.py
  tux/database/controllers/note.py
  tux/database/controllers/reminder.py
  tux/utils/converters.py
  tux/utils/exceptions.py
  tux/utils/flags.py
Due: Database Layer, Utilities & Helpers

Migrate database imports from Prisma to local models and update controllers
  tux/cogs/moderation/__init__.py
  tux/cogs/moderation/ban.py
  tux/cogs/moderation/cases.py
  tux/cogs/moderation/jail.py
  tux/cogs/moderation/kick.py
  tux/cogs/moderation/pollban.py
  tux/cogs/moderation/pollunban.py
  tux/cogs/moderation/snippetban.py
  tux/cogs/moderation/snippetunban.py
  tux/cogs/moderation/tempban.py
  tux/cogs/moderation/timeout.py
  tux/cogs/moderation/unban.py
  tux/cogs/moderation/unjail.py
  tux/cogs/moderation/untimeout.py
  tux/cogs/moderation/warn.py
  tux/cogs/snippets/__init__.py
  tux/cogs/snippets/list_snippets.py
  tux/cogs/utility/afk.py
  tux/cogs/utility/poll.py
  tux/cogs/utility/remindme.py
  tux/database/controllers/base.py
  tux/database/controllers/guild_config.py
  tux/database/controllers/levels.py
  tux/database/controllers/snippet.py
  tux/database/controllers/starboard.py
Due: Database Layer, Bot Commands & Features

Add Alembic configuration for database migrations
  alembic.ini
Due: none

Add Alembic environment configuration for SQLModel migrations
  alembic/env.py
  alembic/versions/__init__.py
Due: none

Replace Prisma database commands with Alembic migration commands
  tux/cli/database.py
Due: CLI Interface

Add PostgreSQL array support and initial Alembic migration
  alembic/script.py.mako
  alembic/versions/ae9ab78e37b5_initial.py
  dev.db
  tux/database/models.py
Due: Database Layer

Replace PostgreSQL array with JSON for case_user_roles column
  alembic/script.py.mako
  alembic/versions/bfde3b0a5688_initial.py
  dev.db
  tux/database/models.py
Due: Database Layer

chore: regenerate poetry.lock after SQLModel migration
  poetry.lock
Due: none

chore(ci): remove Prisma steps from Dockerfile and workflows; cleanup setup-python action
  .github/actions/setup-python/action.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  Dockerfile
Due: none

fix: compatibility shims for pyright errors (is_connected, include params, update_many)
  tux/database/client.py
  tux/database/controllers/base.py
Due: Database Layer

Fix is_connected method calls in DatabaseClient methods
  tux/database/client.py
Due: Database Layer

chore(pyright): relax type checking, fix is_registered method
  pyrightconfig.json
  tux/database/client.py
Due: Database Layer

fix(types): strict typing compliance; remove external/alembic clone
  pyrightconfig.json
  tux/database/client.py
  tux/database/controllers/levels.py
  tux/database/controllers/note.py
  tux/database/controllers/reminder.py
  tux/database/controllers/snippet.py
  tux/database/controllers/starboard.py
  tux/database/models.py
Due: Database Layer

Refactor database client, models, and controllers for type safety
  tux/database/client.py
  tux/database/controllers/base.py
  tux/database/controllers/snippet.py
  tux/database/models.py
Due: Database Layer

chore(pyright): configure exclusions in pyproject; fix datetime UTC, restore db.is_connected callable
  pyproject.toml
Due: none

fix(pyright): restore strict include/exclude settings
  pyproject.toml
Due: none

Fix type annotations and session variable naming in database controllers
  tux/database/controllers/base.py
  tux/database/controllers/snippet.py
  tux/database/models.py
Due: Database Layer

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
