Repository allthingslinux/tux: changes, and which Codecov flags are due for each by the changed paths.
All: Core Bot Infrastructure, Database Layer, Bot Commands & Features, Event & Error Handling, Utilities & Helpers, User Interface Components, CLI Interface, External Service Wrappers

Path conditions:
  Core Bot Infrastructure: any of: tux/bot.py, tux/cog_loader.py, tux/help.py, tux/main.py, tux/app.py, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Database Layer: any of: tux/database/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Bot Commands & Features: any of: tux/cogs/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Event & Error Handling: any of: tux/handlers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  Utilities & Helpers: any of: tux/utils/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  User Interface Components: any of: tux/ui/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  CLI Interface: any of: tux/cli/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*
  External Service Wrappers: any of: tux/wrappers/**/*, but not: tests/**/*, conftest.py, **/__pycache__/**/*, .pytest_cache/**/*, .ruff_cache/**/*, htmlcov/**/*, .venv/**/*, typings/**/*, .archive/**/*, docs/**/*, scripts/**/*, assets/**/*, logs/**/*, *.md, *.toml, *.lock, setup.py, *.nix, flake.*, shell.nix, prisma/**/*

fix(remindme): fix reminders not deleting from database if dms are closed
  tux/cogs/utility/remindme.py
Due: Bot Commands & Features

refactor(treewide): reorder statements to improve speed
  tux/cog_loader.py
  tux/cogs/fun/xkcd.py
  tux/cogs/info/avatar.py
Due: Core Bot Infrastructure, Bot Commands & Features

fix: cleaned up and added roles aswell as comments
  tux/cogs/guild/rolecount.py
Due: Bot Commands & Features

fix: remove unused import in app.py and add spacing for clarity
  tux/core/app.py
Due: none

refactor(db): selective Sentry spans
  tux/services/database/controllers/__init__.py
  tux/services/database/controllers/base.py
Due: none

refactor(core): unify CogLoader tracing via utils.tracing
  .vscode/settings.json
  tux/core/bot.py
  tux/core/cog_loader.py
  tux/services/handlers/sentry.py
  tux/utils/protocols.py
Due: Utilities & Helpers

refactor(core): add IReloadableBot protocol and adopt in hot_reload
  tux/core/interfaces.py
  tux/services/hot_reload.py
Due: none

feat(sentry): auto-load SentryHandler cog to enrich spans and standardize command error handling
  pyproject.toml
  tests/unit/tux/modules/snippets/test_snippets_base.py
  tux/core/bot.py
  tux/services/handlers/error.py
  tux/services/hot_reload.py
  tux/services/sentry.py
  tux/services/sentry_manager.py
  tux/utils/context_utils.py
  tux/utils/protocols.py
  tux/utils/tracing.py
Due: Utilities & Helpers

fix(event-handler): use BaseCog.db property instead of nullable db_service to avoid None-type access
  tux/services/handlers/event.py
Due: none

refactor(event-handler): call controller via BaseCog.db property inline (no temp variable)
  tux/services/handlers/event.py
Due: none

fix(types): define bot.sentry_manager as SentryManager to satisfy pyright in error handler
  tux/core/bot.py
Due: none

style(core-services): satisfy Ruff TRY300 by using try/except/else patterns for return paths
  tux/core/base_cog.py
  tux/core/service_registry.py
  tux/core/services.py
Due: none

test(pytest): set asyncio fixture loop scope to function to silence deprecation
  pyproject.toml
Due: none

test: silence pyright warnings in conftest; fix VS Code settings.json JSON
  .vscode/settings.json
  tests/conftest.py
Due: none

test(typing): satisfy pyright in conftest with Protocol/cast and explicit ignores for autouse fixtures
  tests/conftest.py
Due: none

refactor(utils): move ascii/banner to tux/ui; move checks/context/flags to tux/core; move tracing to tux/services
  .basedpyright/baseline.json
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tux/core/checks.py
  tux/core/context.py
  tux/core/flags.py
  tux/services/tracing.py
  tux/ui/ascii.py
  tux/ui/banner.py
  update_imports.py
Due: User Interface Components

fix(levels): fix issue where xp gets reset if db errors
  tux/database/controllers/levels.py
Due: Database Layer

docs(levels): clarify return value in get_xp_and_level docstring
  tux/database/controllers/levels.py
Due: Database Layer

feat(levels): add debug logging for missing level records
  tux/database/controllers/levels.py
Due: Database Layer

fix(levels): improve error handling for XP queries by raising ValueError
  tux/database/controllers/levels.py
Due: Database Layer

misc: revisions
  .basedpyright/baseline.json
  tux/core/bot.py
  tux/core/cog_loader.py
  tux/core/flags.py
  tux/help.py
  tux/modules/moderation/ban.py
  tux/modules/moderation/cases.py
  tux/modules/moderation/jail.py
  tux/modules/moderation/kick.py
  tux/modules/moderation/pollban.py
  tux/modules/moderation/pollunban.py
  tux/modules/moderation/snippetban.py
  tux/modules/moderation/snippetunban.py
  tux/modules/moderation/tempban.py
  tux/modules/moderation/timeout.py
  tux/modules/moderation/unban.py
  tux/modules/moderation/unjail.py
  tux/modules/moderation/untimeout.py
  tux/modules/moderation/warn.py
  tux/modules/services/starboard.py
  tux/modules/tools/tldr.py
  tux/modules/utility/poll.py
  tux/services/handlers/error.py
  tux/services/handlers/sentry.py
  tux/services/hot_reload.py
  tux/services/sentry_manager.py
  tux/ui/banner.py
  tux/ui/help_utils.py
Due: Core Bot Infrastructure, User Interface Components

style(imports): reorder imports for consistency and readability
  tux/core/cog_loader.py
  tux/modules/moderation/kick.py
  tux/modules/moderation/tempban.py
  tux/modules/services/starboard.py
Due: none

docs(contributing): migrate contributor setup to Uv (install, sync, pre-commit)
  .github/CONTRIBUTING.md
Due: none

ci(action): migrate setup-python composite action to uv (setup-uv, uv sync, uv run prisma generate)
  .github/actions/setup-python/action.yml
Due: none

ci(workflows): update setup-python usage for uv action; remove obsolete inputs and enable uv cache
  .editorconfig
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .gitignore
  .yamllint.yml
  pyproject.toml
  uv.lock
Due: none

fix: import errors post-merge (env + config + exceptions)
  poetry.lock
  src/tux/modules/snippets/__init__.py
  src/tux/modules/utility/ping.py
  src/tux/services/handlers/event.py
Due: none

chore(dependencies): update pyright to basedpyright and adjust configuration
  .basedpyright/baseline.json
  .github/workflows/ci.yml
  pyproject.toml
  scripts/validate_dependency_injection.py
  src/tux/core/converters.py
  src/tux/core/service_registry.py
  src/tux/core/types.py
  src/tux/modules/levels/level.py
  src/tux/modules/services/influxdblogger.py
  src/tux/modules/services/levels.py
  src/tux/modules/services/starboard.py
  src/tux/modules/utility/poll.py
  tests/conftest.py
  uv.lock
Due: none

ci(ci.yml): update command to run basedpyright with 'uv run'
  .github/workflows/ci.yml
Due: none

fix(moderation): fix ban check
  tux/cogs/moderation/ban.py
Due: Bot Commands & Features

refactor(container.py): change resolution stack from set to list for order preservation
  src/tux/core/container.py
Due: none

fix(context.py): handle missing user/author attributes gracefully
  src/tux/core/context.py
Due: none

fix(sentry_manager.py): handle missing attributes in user data
  src/tux/services/sentry_manager.py
Due: none

refactor(tracing.py): simplify safe_set_name function and enhance command instrumentation
  src/tux/services/tracing.py
Due: none

test: replace assertions with pass in smoke tests
  tests/e2e/test_smoke_e2e.py
  tests/unit/test_smoke.py
Due: none
